html {
  /* font-family: sans-serif; */
  /* scroll-snap-type: mandatory; */
  /* scroll-snap-points-y: repeat(100vh); */
  scroll-snap-type: y mandatory;
  /* -webkit-overflow-scrolling: touch; */
  scroll-behavior: smooth;
}

.scroll-container {
  /* scroll-snap-type: y mandatory; */
  /* -webkit-scroll-snap-type: y mandatory; */
}

.fullscreen {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-align: center;
}
