html {
  /* font-family: sans-serif; */
  /* scroll-snap-type: mandatory; */
  /* scroll-snap-points-y: repeat(100vh); */
  scroll-snap-type: y mandatory;
  /* -webkit-overflow-scrolling: touch; */
  scroll-behavior: smooth;
}

.scroll-container {
  /* scroll-snap-type: y mandatory; */
  /* -webkit-scroll-snap-type: y mandatory; */
}

.fullscreen {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-align: center;
}
.hamburger-div {
  position: relative;
  left: 95vw;
}

.hamburger-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hamburger-closed {
  display: none;
}
.hamburger-opened {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: black;
  top: 10px;
  transition: ease-in-out 2s;
}

.hamburger-opened-sticky {
  transition: transform 0.3s ease-out;
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: black;
  transition-delay: 1s;
  z-index: 99;
  transition: ease-in-out 2s;
}
/* .hamburger-open-text {
  font-family: "AkzidenzGroteskBE-BoldEx";
  color: white;
  font-size: 50px;
  width: 100%;
  text-align: center;
}
.hamburger-open-text:hover {
  color: white;
  font-size: 50px;
  width: 100%;
  text-align: center;
  cursor: pointer;
} */

@media screen and (max-width: 6000px) and (min-width: 100px) {
  .hamburger-div {
    position: relative;
    top: 0.2%;
  }
}

@media (max-width: 700px) {
  .hamburger-div {
    position: relative;
    left: 90vw;
  }
}
