.menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 990;
  opacity: 1;
}

.hamburger-helper {
  position: absolute;
  right: 3%;
  margin-top: 2%;
  z-index: 998;
}

.menu-btn-cursor-container {
  height: 60px;
  width: 100px;
  cursor: pointer;
  position: absolute;
  top: -30px;
  left: -30px;
  /* background-color: blue; */
  opacity: 0.2;
  border-radius: 30%;
}
.show-none {
  opacity: 0;
  height: 100px;
}

.menu-btn__burger {
  /* width: 30px;
  height: 1.5px; */
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: transform 0.5s ease-in-out;

  width: 37px;
  height: 3px;
}

.menu-btn__burger:hover {
  cursor: pointer;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  /* width: 30px;
  height: 1.5px; */
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: transform 0.5s ease-in-out;

  width: 37px;
  height: 3px;
}
.menu-btn__burger::before {
  /* transform: translateY(-10px); */
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  /* transform: translateY(10px); */
  transform: translateY(10px);
}
/* ANIMATION */

.menu-btn.open .menu-btn__burger {
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg);
}
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */

@media (min-width: 4500px) {
  .menu-btn__burger {
    width: 100px;
    height: 7px;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    width: 100px;
    height: 7px;
  }
  .menu-btn__burger::before {
    transform: translateY(-27px);
  }
  .menu-btn__burger::after {
    transform: translateY(27px);
  }
  .menu-btn-cursor-container {
    height: 200px;
    width: 300px;
    cursor: pointer;
    position: absolute;
    top: -100px;
    left: -100px;
    border-radius: 30%;
    z-index: 994;
  }
}

@media screen and (max-width: 4499px) and (min-width: 4000px) {
  .menu-btn__burger {
    width: 90px;
    height: 6.5px;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    width: 90px;
    height: 6.5px;
  }
  .menu-btn__burger::before {
    transform: translateY(-23px);
  }
  .menu-btn__burger::after {
    transform: translateY(23px);
  }
  .menu-btn-cursor-container {
    height: 150px;
    width: 300px;
    /* background-color: red; */
    cursor: pointer;
    position: absolute;
    top: -70px;
    left: -100px;
    /* opacity: 0.7; */
    border-radius: 30%;
    z-index: 998;
  }
}
@media screen and (max-width: 3999px) and (min-width: 3000px) {
  .menu-btn-cursor-container {
    top: -50px;
    left: -100px;
    height: 150px;
    width: 250px;
    /* background-color: red;
    opacity: 0.7; */
  }
  .menu-btn__burger {
    width: 70px;
    height: 5px;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    width: 70px;
    height: 5px;
  }
  .menu-btn__burger::before {
    transform: translateY(-17px);
  }
  .menu-btn__burger::after {
    transform: translateY(17px);
  }
}

@media screen and (max-width: 2999px) and (min-width: 2000px) {
  .menu-btn-cursor-container {
    left: -30px;
    top: -30px;
    height: 70px;
    width: 100px;
  }
  /* .hamburger-helper {
    right: 3%;
    top: 60px;
  } */
  .menu-btn__burger {
    width: 50px;
    height: 4px;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    width: 50px;
    height: 4px;
  }
  .menu-btn__burger::before {
    transform: translateY(-12px);
  }
  .menu-btn__burger::after {
    transform: translateY(12px);
  }
}
@media screen and (max-width: 1999px) and (min-width: 1500px) {
  /* .hamburger-helper {
    right: 3%;
    top: 40px;
  } */
  .menu-btn__burger {
    width: 38px;
    height: 3px;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    width: 38px;
    height: 3px;
  }
  .menu-btn__burger::before {
    transform: translateY(-10px);
  }
  .menu-btn__burger::after {
    transform: translateY(10px);
  }
}
@media screen and (max-width: 1499px) and (min-width: 999px) {
  /* .hamburger-helper {
    right: 2.8%;
    top: 35px;
  } */
}

/* @media screen and (max-width: 1999px) and (min-width: 1500px) {
  .menu-btn {
    top: 30px;
    left: 95.5vw;
  }
}
@media (max-width: 1499px) {
  .menu-btn {
    top: 20px;
    left: 95vw;
    height: 30px;
  }
}
@media (max-width: 1199px) {
  .menu-btn {
    top: 15px;
    left: 94.5vw;
    height: 30px;
  }
}


@media (max-width: 770px) {
  .menu-btn {
    top: 0px;
    left: 97vw;
    height: 50px;
  }
  .leftIsh {
    left: -25px;
  }
} */

@media (max-width: 600px) {
  .hamburger-helper {
    position: absolute;
    right: 13%;
    margin-top: 7%;
    z-index: 998;
  }
}
