.menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 80px; */
  /* width: 100%; */
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  left: 95%;
  top: 10px;
  z-index: 990;
}
.menu-btn__burger {
  width: 30px;
  height: 1.5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger:hover {
  cursor: pointer;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1.5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
/* ANIMATION */

.menu-btn.open .menu-btn__burger {
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 1999px) and (min-width: 1000px) {
  .menu-btn {
    height: 100px;
  }
}

@media screen and (max-width: 3999px) and (min-width: 2000px) {
  .menu-btn {
    height: 150px;
  }
  .menu-btn__burger {
    width: 60px;
    height: 4px;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    width: 60px;
    height: 4px;
  }
  .menu-btn__burger::before {
    transform: translateY(-15px);
  }
  .menu-btn__burger::after {
    transform: translateY(15px);
  }
}

@media screen and (min-width: 4000px) {
  .menu-btn {
    height: 200px;
  }
  .menu-btn__burger {
    width: 100px;
    height: 8px;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    width: 100px;
    height: 8px;
  }
  .menu-btn__burger::before {
    transform: translateY(-25px);
  }
  .menu-btn__burger::after {
    transform: translateY(25px);
  }
}
@media (max-width: 800px) {
  .menu-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 80px; */
    /* width: 100%; */
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    left: 90%;
    top: 10px;
    z-index: 990;
  }
}
