.hamburger-holder-project {
  position: absolute;
  top: 40%;

  right: 8%;
  z-index: 999;
}
/* 
@media (max-width: 999px) {
  .hamburger-holder-project {
    position: absolute;
    top: 15px;
  }
}

@media (max-width: 770px) {
  .hamburger-holder-project {
    position: absolute;
    right: 70px;
    top: 25px;
  }
} */
