.hamburger-holder-project {
  position: absolute;
  top: 20%;

  right: 5%;
  z-index: 999;
}
/* 
@media (max-width: 999px) {
  .hamburger-holder-project {
    position: absolute;
    top: 15px;
  }
}

 */
@media (max-width: 770px) {
  .hamburger-holder-project {
    position: absolute;
    top: 20%;
    right: 15%;
    z-index: 999;
  }
}
