.hide-element {
  display: none;
}

.modal-carousel-holder {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  background-color: black;
  opacity: 0.8;
}

.show-project-info {
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  cursor: pointer;
}
.centered-text {
  text-align: center;
}

.masonry-img {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
  /* background-color: green; */
  /* justify-content: center; */
}

.masonry-brick-img {
  flex: auto;
  height: 500px;
  min-width: 200px;
  /* max-width: 800px; */
  margin: 0 8px 8px 0; /* Some gutter */
  /* background-size: 100% 100%; */
  background-size: cover;
  background-position: 50% 50%;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.masonry-brick-img-full {
  flex: auto;
  height: 500px;
  width: 100%;
  /* max-width: 800px; */
  margin: 0 8px 8px 0; /* Some gutter */
  /* background-size: 100% 100%; */
  background-size: cover;
  background-position: 50% 50%;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.masonry-brick-img-wide {
  flex: auto;
  height: 500px;
  min-width: 800px;
  /* max-width: 800px; */
  margin: 0 8px 8px 0; /* Some gutter */
  /* background-size: 100% 100%; */
  background-size: cover;
  background-position: 50% 50%;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.masonry-brick-img-sm {
  flex: auto;
  height: 500px;
  width: 400px;
  /* max-width: 800px; */
  margin: 0 8px 8px 0; /* Some gutter */
  /* background-size: 100% 100%; */
  background-size: cover;
  background-position: 50% 50%;
  /* background-position: center; */
  background-repeat: no-repeat;
}
