.hide-element {
  display: none;
}
.hide-element-modal-car {
  display: none;
}

.modal-carousel-holder {
  height: 100vh;
  width: 100vw;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 999;
  background-color: black;
  opacity: 0.8;
  margin-top: -100vh;
}

.show-project-info {
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  cursor: pointer;
}
.centered-text {
  text-align: center;
}

.masonry-img {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.masonry-brick-img-full-key-art-play {
  flex: auto;
  height: 400px;
  width: 100%;
  margin: 0 0px 0px 0;
  object-fit: scale-down;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.masonry-brick-img-wide-key-art-play {
  flex: auto;
  height: 500px;
  min-width: 800px;
  /* max-width: 800px; */
  margin: 0 0px 0px 0;
  /* background-size: 100% 100%; */
  background-size: cover;
  background-position: 50% 50%;
  /* background-position: center; */
  background-repeat: no-repeat;
  max-width: 1000px;
}

.masonry-brick-img-sm-key-art-play {
  flex: auto;
  height: 500px;
  min-width: 400px;
  margin: 0 0px 0px 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 5999px) and (min-width: 3000px) {
  .masonry-brick-img-full-key-art-play {
    flex: auto;
    height: 800px;
    width: 100%;
    margin: 0 0px 0px 0;
    object-fit: scale-down;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .masonry-brick-img-wide-key-art-play {
    flex: auto;
    height: 800px;
    min-width: 1200px;
    max-width: 1500px;
    background-size: cover;
  }

  .masonry-brick-img-sm-key-art-play {
    flex: auto;
    height: 800px;
    min-width: 700px;
    background-size: cover;
  }
}

@media (max-width: 1200px) {
  .masonry-brick-img-full-key-art-play {
    flex: auto;
    height: 300px;
    width: 100%;
    margin: 0 0px 0px 0;
    object-fit: scale-down;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .masonry-brick-img-wide-key-art-play {
    flex: auto;
    height: 300px;
    min-width: 500px;
    max-width: 600px;
    background-size: cover;
  }

  .masonry-brick-img-sm-key-art-play {
    flex: auto;
    height: 300px;
    min-width: 250px;
    max-width: 500px;
    background-size: cover;
  }
}

@media (max-width: 771px) {
  .masonry-brick-img-full-key-art-play {
    flex: auto;
    height: 300px;
    width: 100vw;
  }
  .masonry-brick-img-wide-key-art-play {
    height: 300px;
    min-width: 100%;
  }

  .masonry-brick-img-sm-key-art-play {
    height: 300px;
    min-width: 100%;
  }
}
