.z-index-999 {
  z-index: 999;
}
.sticky-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 1px;
  position: sticky;
  z-index: 990;
  top: 20px;
  width: 100%;
}

.logo-sticky {
  height: 8.9vw;
  position: relative;
  left: 20px;
}
.logo-sticky:hover {
  cursor: pointer;
}
.hamburger-sticky {
  height: 75px;
  position: relative;
  right: 20%;
}
.hamburger-sticky:hover {
  cursor: pointer;
}

.hamburger-closed {
  transition: transform 0.3s ease-out;
  display: none;
  /* transition: height 2s, width 2s; */
  /* transform: translateX(500px);
  transition: transform 0.3s ease-out; */
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.hamburger-opened-sticky {
  transition: transform 0.3s ease-out;
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: black;
  top: -20px;
  /* transform: translateX(0); */
  /* transition: height 2s, width 2s; */
  /* transition: transform 1s ease-out; */
  /* transition: transform 0.3s ease-out; */
  /* transform: rotate(180deg); */
  /* transform: translateX(1px); */
  transition-delay: 1s;
  /* transform: scale(0.5); */
  z-index: -1;
  transition: ease-in-out 2s;
}

.hamburger-x-container {
  position: relative;
  right: -95%;
  top: 5%;
}
.hamburger-x {
  height: 50px;
}

.hamburger-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hamburger-open-text {
  font-family: "AkzidenzGroteskBE-BoldEx";
  color: white;
  font-size: 50px;
  width: 100%;
  text-align: center;
}
.hamburger-open-text:hover {
  color: white;
  font-size: 50px;
  width: 100%;
  text-align: center;
  /* text-decoration: underline; */
  cursor: pointer;
}
.hamburger-sticky-container {
  position: relative;
  right: 2%;
  /* top: 150px; */
}

@media screen and (max-width: 6000px) and (min-width: 2800px) {
  .hamburger-sticky-container {
    position: relative;
    right: 2.5%;
    top: 150px;
  }
}

@media (max-width: 960px) {
  .logo-sticky {
    height: 7.9vw;
    /* left: 30px; */
  }
}

@media (max-width: 830px) {
  .hamburger-x-container {
    right: -80%;
  }
}

@media (max-width: 600px) {
  .hamburger-open-text {
    font-family: "AkzidenzGroteskBE-BoldEx";
    color: white;
    font-size: 40px;
    width: 100%;
    text-align: center;
  }

  .hamburger-open-text:hover {
    color: white;
    font-size: 40px;
    width: 100%;
    text-align: center;
    text-decoration: underline;
  }
}
