.z-index-999 {
  z-index: 999;
}
.sticky-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 1px;
  position: sticky;
  z-index: 9;
  top: 0;
  width: 100%;
}
.ham-div {
  height: 50px;
  width: 50px;
}

.hamburger-sticky {
  height: 75px;
  position: relative;
  right: 20%;
}
.hamburger-sticky:hover {
  cursor: pointer;
}

@media (min-width: 2000px) {
}

@media screen and (max-width: 6000px) and (min-width: 2800px) {
  /* .hamburger-sticky-container {
    position: relative;
    right: 2.5%;
    top: 150px;
  } */
}

@media (max-width: 960px) {
  /* .logo-sticky {
    height: 7.9vw;
  } */
}

@media (max-width: 830px) {
  /* .logo-sticky {
    top: 5px;
  } */
}

@media (max-width: 770px) {
  /* .logo-sticky {
    left: 5%;
    top: 0px;
    height: 13vw;
  } */
  /* .burger-menu-position-main {
    position: relative;
    right: 2%;
  } */
}
