.proj-menu {
  position: relative;
  top: -5px;
  /* right: 95px; */
  /* margin-top: -5px; */
  /* top: -10px; */
}

.menu-projects-hamb {
  position: absolute;
  top: -25px;
  /* left: 100px; */
}
.closed-menu {
  display: none;
}
.open-menu {
  display: inline;
  position: absolute;
  top: -10px;
}
.menu-btn-proj {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* left: 93.5vw; */
  /* right: 10px; */
  /* width: 100%; */
  top: 5px;
  z-index: 990;
  opacity: 1;
}
.menu-btn-proj__burger {
  width: 30px;
  height: 1.5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn-proj__burger::before,
.menu-btn-proj__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1.5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn-proj__burger::before {
  transform: translateY(-10px);
}
.menu-btn-proj__burger::after {
  transform: translateY(10px);
}
/* ANIMATION */
.menu-btn-proj.open .menu-btn-proj__burger {
  /* transform: translateX(-50px); */
  background: transparent;
  box-shadow: none;
}
.menu-btn-proj.open .menu-btn-proj__burger::before {
  transform: rotate(45deg);
}
.menu-btn-proj.open .menu-btn-proj__burger::after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 6000px) and (min-width: 3000px) {
  .proj-menu {
    top: 10px;
  }
}

@media (max-width: 770px) {
  /* .proj-menu {
    position: relative;
    top: 5px;
    left: 90vw;
  } */
}
