.proj-menu {
  position: absolute;
  top: -5px;
  /* right: 50px; */
  /* right: 95px; */
  /* margin-top: -5px; */
  /* top: -10px; */
}

.menu-projects-hamb {
  position: absolute;
  top: -25px;
  /* left: 100px; */
}
.closed-menu {
  display: none;
}
.open-menu {
  display: inline;
  position: absolute;
  top: -10px;
}
.menu-btn-proj {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* left: 93.5vw; */
  /* right: 10px; */
  /* width: 100%; */
  top: 5px;
  z-index: 990;
  opacity: 1;
}

/* EDITING BURGER WIDTH / HEIGHT */ /* EDITING BURGER WIDTH / HEIGHT */ /* EDITING BURGER WIDTH / HEIGHT */ /* EDITING BURGER WIDTH / HEIGHT */
.menu-btn-proj__burger {
  /* width: 30px;
  height: 1.5px; */
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;

  width: 37px;
  height: 3px;
}
.menu-btn-proj__burger::before,
.menu-btn-proj__burger::after {
  content: "";
  position: absolute;
  /* width: 30px;
  height: 1.5px; */
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;

  width: 37px;
  height: 3px;
}
.menu-btn-proj__burger::before {
  transform: translateY(-10px);
}
.menu-btn-proj__burger::after {
  transform: translateY(10px);
}
/* EDITING BURGER WIDTH / HEIGHT */ /* EDITING BURGER WIDTH / HEIGHT */ /* EDITING BURGER WIDTH / HEIGHT */ /* EDITING BURGER WIDTH / HEIGHT */

/* ANIMATION */
.menu-btn-proj.open .menu-btn-proj__burger {
  /* transform: translateX(-50px); */
  background: transparent;
  box-shadow: none;
}
.menu-btn-proj.open .menu-btn-proj__burger::before {
  transform: rotate(45deg);
}
.menu-btn-proj.open .menu-btn-proj__burger::after {
  transform: rotate(-45deg);
}

@media (min-width: 4500px) {
  .menu-btn-proj__burger {
    width: 100px;
    height: 7px;
  }

  .menu-btn-proj__burger::before,
  .menu-btn-proj__burger::after {
    width: 100px;
    height: 7px;
  }
  .menu-btn-proj__burger::before {
    transform: translateY(-27px);
  }
  .menu-btn-proj__burger::after {
    transform: translateY(27px);
  }
}

@media screen and (max-width: 4499px) and (min-width: 4000px) {
  .menu-btn-proj__burger {
    width: 90px;
    height: 6.5px;
  }

  .menu-btn-proj__burger::before,
  .menu-btn-proj__burger::after {
    width: 90px;
    height: 6.5px;
  }
  .menu-btn-proj__burger::before {
    transform: translateY(-23px);
  }
  .menu-btn-proj__burger::after {
    transform: translateY(23px);
  }
}
@media screen and (max-width: 3999px) and (min-width: 3000px) {
  .menu-btn-proj__burger {
    width: 70px;
    height: 5px;
  }

  .menu-btn-proj__burger::before,
  .menu-btn-proj__burger::after {
    width: 70px;
    height: 5px;
  }
  .menu-btn-proj__burger::before {
    transform: translateY(-17px);
  }
  .menu-btn-proj__burger::after {
    transform: translateY(17px);
  }
}

@media screen and (max-width: 2999px) and (min-width: 2000px) {
  .menu-btn-proj__burger {
    width: 50px;
    height: 4px;
  }

  .menu-btn-proj__burger::before,
  .menu-btn-proj__burger::after {
    width: 50px;
    height: 4px;
  }
  .menu-btn-proj__burger::before {
    transform: translateY(-12px);
  }
  .menu-btn-proj__burger::after {
    transform: translateY(12px);
  }
}

@media (max-width: 770px) {
  /* .proj-menu {
    position: relative;
    top: 5px;
    left: 90vw;
  } */
  .open-menu {
    display: inline;
    position: absolute;
    top: -10px;
    left: -85vw;
  }
}
