@import url("https://use.typekit.net/qnu7szh.css");
.about-container {
  min-height: 100vh;
}
.about-x-container {
  width: 96.8%;
  position: sticky;
  display: flex;
  justify-content: flex-end;
  top: 2.5%;
  right: 2%;
  z-index: 999;
}
.about-xOut {
  /* width: 50px; */
  width: calc(25px + 1vw);
  /* position: sticky; */
  top: 10px;
  z-index: 999;
  height: calc(25px + 1vw);
}
.about-xOut:hover {
  cursor: pointer;
}

.about-text-container {
  padding-left: 25%;
  padding-right: 25%;
  position: relative;
  /* padding-top: 5%; */
}
.about-text {
  color: white;
  /* font-family: "AkzidenzGroteskBE-BoldEx"; */
  font-family: "Rubik";
  font-weight: 300;
  font-size: calc(15px + 1vw);
  line-height: 1;
}
.white {
  color: white;
  z-index: 999;
}
.title {
  margin-top: -3%;
  font-family: "Rubik";
  font-weight: 900;
  font-size: calc(1px + 0.75vw);
  width: max-content;
}
.name {
  font-size: calc(3px + 1vw);
  font-family: "Rubik";
  font-weight: 300;
}
/* .vid-about-hov-menu {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  width: 100vw;
}
.vid-about-hovered-menu {
  position: absolute;
  opacity: 0.7;
  pointer-events: none;
  z-index: -1;
  width: 100vw;
} */

.bios-container {
  display: flex;
  flex-direction: row;
  /* padding-top: 5%; */
  padding-left: 25%;
  padding-right: 25%;
}
.bio-text {
  font-size: calc(1px + 0.8vw);

  font-family: "Rubik"; /* , sans-serif; */
}
.david-bio {
  padding-right: 5%;
  z-index: 999;
  border-radius: 10px;
}
.david-bio:hover {
  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,w_50/v1610044093/Cherry/Cherry%20Clients/Logos/davidHead_nunkby.png),
    auto;
}

.greg-bio {
  padding-left: 5%;
  z-index: 999;
}
.greg-bio:hover {
  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,w_50/v1610047428/Cherry/Cherry%20Clients/Logos/gregface_vcajko.png),
    auto;
}

@media (max-width: 3900px) {
  /* .about-text {
    color: white;
    font-family: "AkzidenzGroteskBE-BoldEx";
    font-size: calc(10px + 0.7vw);
    line-height: 1.4;
  }
  .title {
    margin-bottom: -20px;
    font-family: "AkzidenzGroteskBE-BoldEx";
    font-size: calc(8px + 0.7vw);
  }
  .name {
    font-size: calc(20px + 0.7vw);
  }
  .bio-text {
    font-size: calc(10px + 0.7vw);
    font-family: "degular";
  } */
}
@media (max-width: 1100px) {
  .about-text {
    font-family: "Rubik";
    font-weight: 300;
    font-size: calc(22px + 0.05vw);
    line-height: 1.2;
  }
  /* .title {
    font-weight: 900;
    font-size: calc(3px + 0.5vw);
    width: max-content;
  }
  .name {
    font-size: calc(8px + 0.5vw);
    font-family: "Rubik";
    font-weight: 300;
  }
  .bio-text {
    font-size: calc(4px + 0.5vw);
  } */
}
@media (max-width: 885px) {
  /* .about-text {
    color: white;
    font-family: "AkzidenzGroteskBE-BoldEx";
    font-size: calc(10px + 0.5vw);
    line-height: 1.4;
  }
  .title {
    margin-bottom: -20px;
    font-family: "AkzidenzGroteskBE-BoldEx";
    font-size: calc(8px + 0.1vw);
  }
  .name {
    font-size: calc(20px + 0.1vw);
  }
  .bio-text {
    font-size: calc(10px + 0.1vw);
    font-family: "degular";
  } */
}

@media (max-width: 600px) {
  .about-xOut {
    /* width: 50px; */
    width: 30px;
    height: 30px;
    /* position: sticky; */
    top: 5px;
    right: 10px;
    z-index: 999;
  }
}
@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
  @media {
    .about-x-container {
      width: 96.5%;
      position: sticky;
      display: flex;
      justify-content: flex-end;
      top: 2.5%;
      right: 2%;
      z-index: 999;
    }
    .about-xOut {
      /* width: 50px; */
      width: calc(16px + 1vw);
      height: calc(16px + 1vw);
      /* position: sticky; */
      top: 10px;
      z-index: 999;
    }
    .about-xOut:hover {
      cursor: pointer;
    }
  }
}
