@font-face {
  font-family: "AkzidenzGroteskBE-BoldEx";
  font-style: normal;
  font-weight: normal;
  src: local("AkzidenzGroteskBE-BoldEx"),
    url(../../assets/fonts//AkzidenzGroteskBE-BoldEx.otf) format("opentype");
}

.opened-menu-container {
  display: flex;
  flex-direction: column;
}
.vid-about-opened-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

.hover-animation {
  display: inline-block;
  position: relative;
  font-family: "AkzidenzGroteskBE-BoldEx";
  /* font-family: Akzidenz; */
  color: white;
  font-size: 50px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin: 0;
  margin-bottom: 2px;
}
.hover-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}
.hover-animation:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}
.hamburger-open-text {
  font-family: "AkzidenzGroteskBE-BoldEx";
  /* font-family: Akzidenz; */
  color: white;
  font-size: 50px;
  width: 100%;
  text-align: center;
}
.hamburger-open-text:hover {
  color: white;
  font-size: 50px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.about:hover:after {
  transform: scaleX(0.6);
}
.keyart:hover:after {
  transform: scaleX(0.7);
}
.branding:hover:after {
  transform: scaleX(0.85);
}
.identity:hover:after {
  transform: scaleX(0.84);
}
.ideas:hover:after {
  transform: scaleX(0.55);
}
.sayhi:hover {
  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,w_100/v1610050290/Cherry/Cherry%20Clients/Logos/sayhi_ozneon.png),
    auto;
}
