.masonry {
  width: 1000px;
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
  background-color: green;
}
.masonry-brick {
  flex: auto;
  height: 500px;
  min-width: 500px;
  margin: 0 8px 8px 0; /* Some gutter */
  background-color: red;
}
.masonry-brick-img {
  flex: auto;
  height: 500px;
  min-width: 500px;
  max-width: 1000px;
  margin: 0 8px 8px 0; /* Some gutter */
}
.masonry-brick:nth-child(4n + 1) {
  width: 650px;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 2) {
  width: 625px;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 3) {
  width: 680px;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 4) {
  width: 680px;
}

.centered-text {
  text-align: center;
}

/*  */

.proj-div-split {
  /* display: flex;
  width: 100vw;
  background-color: white; */
  display: flex;
  flex-wrap: wrap;
}

.proj-div-left {
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  flex-direction: row-reverse;
  justify-content: center;
  /* justify-content: flex-start; */
}
.proj-div-right {
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  flex-direction: row-reverse;
  justify-content: center;
  /* display: flex;
  flex-wrap: wrap;
  width: 50%;
  background-color: blue;
  justify-content: center;
  justify-content: flex-start; */
  /* justify-content: flex-end; */
}

.big {
  height: calc(600px + 1vw);
  width: calc(1000px + 1vw);
  background-color: red;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
.small {
  height: 300px;
  width: 500px;
  background-color: orange;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.long {
  height: 300px;
  width: 1000px;
  background-color: blueviolet;
}
