/* For Example titles */
.centered-text {
  text-align: center;
}

.masonry {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
  background-color: green;
  /* justify-content: center; */
}
.masonry-brick {
  flex: auto;
  height: 500px;
  min-width: 500px;
  margin: 0 8px 8px 0; /* Some gutter */
  background-color: red;
}

.masonry-brick:nth-child(1) {
  width: 100%;
}
.masonry-brick:nth-child(2) {
  width: 500px;
}
.masonry-brick:nth-child(3) {
  width: 900px;
}
.masonry-brick:nth-child(4) {
  width: 900px;
}
/*  */

.masonry-img {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
  /* background-color: green; */
  /* justify-content: center; */
}

.masonry-brick-img {
  flex: auto;
  height: 500px;
  min-width: 500px;
  /* max-width: 800px; */
  margin: 0 8px 8px 0; /* Some gutter */
}

.masonry-brick-img:nth-child(1) {
  width: 100%;
}
.masonry-brick-img:nth-child(2) {
  width: 500px;
}
.masonry-brick-img:nth-child(3) {
  width: 900px;
}
.masonry-brick-img:nth-child(4) {
  width: 900px;
}
.masonry-brick-img:nth-child(5) {
  width: 900px;
}
.masonry-brick-img:nth-child(6) {
  width: 500px;
}
.masonry-brick-img:nth-child(7) {
  width: 900px;
}
.masonry-brick-img:nth-child(8) {
  width: 500px;
}

@media (max-height: 1925px) {
  .masonry-brick-img {
    flex: auto;
    height: 400px;
    min-width: 350px;
    /* max-width: 800px; */
    margin: 0 8px 8px 0; /* Some gutter */
  }

  .masonry-brick-img:nth-child(1) {
    width: 100%;
  }
  .masonry-brick-img:nth-child(2n) {
    width: 350px;
  }
  .masonry-brick-img:nth-child(3n) {
    width: 600px;
  }
  .masonry-brick-img:nth-child(4) {
    width: 500px;
  }
  .masonry-brick-img:nth-child(5) {
    width: 350px;
  }
  .masonry-brick-img:nth-child(6) {
    width: 350px;
  }
  .masonry-brick-img:nth-child(7) {
    width: 350px;
  }
  .masonry-brick-img:nth-child(8) {
    width: 350px;
  }
}

/*  */

.hide-element {
  display: none;
}

.show-project-info {
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  cursor: pointer;
}
