/* 
.centered-text {
  text-align: center;
}

.masonry-img {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px;
  width: 100%;
  align-items: center;
}

.masonry-brick-img {
  flex: auto;
  height: 500px;
  min-width: 200px;
  margin: 0 8px 8px 0; 
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
} */

/* .masonry-brick-img:nth-child(1) {
  width: 100%;
}
.masonry-brick-img:nth-child(2) {
  width: 800px;
}
.masonry-brick-img:nth-child(3) {
  width: 900px;
}
.masonry-brick-img:nth-child(4) {
  width: 500px;
}
.masonry-brick-img:nth-child(5) {
  width: 200px;
}
.masonry-brick-img:nth-child(6n) {
  width: 500px;
}
.masonry-brick-img:nth-child(7n) {
  width: 900px;
}
.masonry-brick-img:nth-child(8n) {
  width: 500px;
}
.masonry-brick-img:nth-child(9n) {
  width: 200px;
}
.masonry-brick-img:nth-child(10n) {
  width: 500px;
}
.masonry-brick-img:nth-child(11n) {
  width: 800px;
} */
/* @media screen and (max-width: 5999px) and (min-width: 3500px) {
  .masonry-img {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;
    width: 100%;
  }
  .masonry-brick-img {
    flex: auto;
    height: 1000px;
    min-width: 1200px;
    margin: 0 8px 8px 0;
  }

  .masonry-brick-img:nth-child(1) {
    width: 100%;
  }
  .masonry-brick-img:nth-child(2) {
    width: 1800px;
  }
  .masonry-brick-img:nth-child(3n) {
    width: 1200px;
  }
  .masonry-brick-img:nth-child(4) {
    width: 1800px;
  }
  .masonry-brick-img:nth-child(5) {
    width: 1500px;
  }
  .masonry-brick-img:nth-child(6) {
    width: 1200px;
  }
  .masonry-brick-img:nth-child(7) {
    width: 1500px;
  }
  .masonry-brick-img:nth-child(8) {
    width: 1800px;
  }
}

@media screen and (max-width: 3499px) and (min-width: 1926px) {
  .masonry-img {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;
    width: 100%;
  }
  .masonry-brick-img {
    flex: auto;
    height: 700px;
    min-width: 700px;
    margin: 0 8px 8px 0;
  }

  .masonry-brick-img:nth-child(1) {
    width: 100%;
  }
  .masonry-brick-img:nth-child(2) {
    width: 800px;
  }
  .masonry-brick-img:nth-child(3n) {
    width: 900px;
  }
  .masonry-brick-img:nth-child(4) {
    width: 900px;
  }
  .masonry-brick-img:nth-child(5) {
    width: 900px;
  }
  .masonry-brick-img:nth-child(6) {
    width: 500px;
  }
  .masonry-brick-img:nth-child(7) {
    width: 900px;
  }
  .masonry-brick-img:nth-child(8) {
    width: 500px;
  }
}

@media (max-width: 1925px) {
  .masonry-brick-img {
    flex: auto;
    height: 300px;
    min-width: 400px;
    margin: 0 8px 8px 0;
  }

  .masonry-brick-img:nth-child(1) {
    width: 100%;
  }
  .masonry-brick-img:nth-child(2n) {
    width: 500px;
  }
  .masonry-brick-img:nth-child(3n) {
    width: 600px;
  }
  .masonry-brick-img:nth-child(4) {
    width: 450px;
  }
  .masonry-brick-img:nth-child(5) {
    width: 400px;
  }
  .masonry-brick-img:nth-child(6) {
    width: 600px;
  }
  .masonry-brick-img:nth-child(7) {
    width: 500px;
  }
  .masonry-brick-img:nth-child(8) {
    width: 400px;
  }
}

@media (max-width: 1100px) {
  .masonry-brick-img {
    flex: auto;
    height: 200px;
    min-width: 300px;
    margin: 0 8px 8px 0;
  }

  .masonry-brick-img:nth-child(1) {
    width: 100%;
  }
  .masonry-brick-img:nth-child(2n) {
    width: 300px;
  }
  .masonry-brick-img:nth-child(3n) {
    width: 350px;
  }
  .masonry-brick-img:nth-child(4) {
    width: 350px;
  }
  .masonry-brick-img:nth-child(5) {
    width: 400px;
  }
  .masonry-brick-img:nth-child(6) {
    width: 300px;
  }
  .masonry-brick-img:nth-child(7) {
    width: 400px;
  }
  .masonry-brick-img:nth-child(8) {
    width: 350px;
  }
} */

/* TEST  */

/* .masonry-brick-img-full {
  flex: auto;
  height: 500px;
  width: 100%;
  margin: 0 8px 8px 0; 
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
} */
