.carousel .control-dots .dot {
  margin: 0.5% 0.12%;
  /* width: calc(5px + 0.02vw);
  height: calc(5px + 0.02vw); */
  width: 0.7vh;
  height: 0.7vh;

  /* margin: calc(0.05% + 0.1vw) calc(1px + 0.08vw);
  width: calc(0.1px + 0.25vw);
  height: calc(0.1px + 0.25vw); */

  /* height: auto; */

  /* in: calc(0.05% + 0.1vw) calc(1px + 0.08vw);
  width: calc(0.1px + 0.25vw);
  heig */
}

.carousel .control-dots {
  /* bottom: calc(2px + .7vw); */
  bottom: 0;
}

.carousel .control-dots .dot {
  box-shadow: none;
}
/* .carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5%;
  padding: 0;
  text-align: center;
  width: 100%;
} */
/* .carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: red;
} */

/* .carousel .control-dots .dot {
  background-color: white;
} */

.show-none {
  /* display: none; */
  opacity: 0;
  height: 100px;
}

.carousel-container {
  contain: content;
}
.carousel-container-safari {
  contain: content;
  max-height: 100vh;
}

.arrow-up-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10vh;
}
.arrow-up {
  height: 25vh;
  width: 40%;
  /* background-color: red; */

  z-index: 99;
}
.arrow-up:hover {
  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,h_100,w_100/v1611017756/Cherry/Cherry%20Clients/Graphic%20Assets/UpArrow_pefwf1.png),
    auto;
}

.arrow-down-container {
  height: 30vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* background-color: red; */
  z-index: 998;
}
.arrow-down-container:hover {
  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,h_100,w_100/v1611018057/Cherry/Cherry%20Clients/Graphic%20Assets/DownArrow_vjka53.png),
    auto;
}
.arrow-up-container-safari {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  /* background-color: red; */
  opacity: 0.5;
  top: 55vh;
  z-index: 800;
  left: 30vw;
}
.arrow-up-safari {
  height: 25vh;
  width: 100%;
  /* background-color: green; */

  z-index: 999;
}
.arrow-up-safari:hover {
  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,h_100,w_100/v1611017756/Cherry/Cherry%20Clients/Graphic%20Assets/UpArrow_pefwf1.png),
    auto;
}

.arrow-down-container-safari {
  height: 30vh;
  width: 100%;
  position: relative;
  bottom: 0;
  /* background-color: blue; */
  opacity: 0.5;
  z-index: 998;
  top: 100vh;
}
.arrow-down-container-safari:hover {
  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,h_100,w_100/v1611018057/Cherry/Cherry%20Clients/Graphic%20Assets/DownArrow_vjka53.png),
    auto;
}

.car-img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.clickable:hover {
  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,h_100,w_100/v1611017757/Cherry/Cherry%20Clients/Graphic%20Assets/PlusCursor_a0mdmj.png),
    auto;
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 0px;
  bottom: 0;
  margin-top: 0;
  padding: 15%;
}
.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  transition: all 0.25s ease-in;
  opacity: 0.01;
  filter: alpha(opacity=40);
  position: absolute;
  top: 20px;
  background: none;
  border: 0;
  font-size: 0px;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
}
.carousel .control-prev.control-arrow {
  left: 0;
  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,h_100,w_100/v1611017756/Cherry/Cherry%20Clients/Graphic%20Assets/LeftArrow_higc8z.png),
    auto;
}
.carousel .control-next.control-arrow {
  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,h_100,w_100/v1611017756/Cherry/Cherry%20Clients/Graphic%20Assets/RightArrrow_idapbt.png),
    auto;
}

.modalClosed {
  display: none;
}

/*  OLD VERSION.modalOpen {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 999;
  opacity: 0.8;
  transition-duration: 3000ms;
  transition: 3000ms;
} */
/* .clickable-modal:hover {
  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,w_120/v1609018415/Cherry/Chi/Website-Asset_X_1_ltkmzn.png),
    auto;
} */
.modalOpen {
  position: absolute;
  display: flex;
  height: 85vh;
  width: 90vw;
  background-color: black;
  z-index: 999;
  opacity: 1;
  top: 7%;
  right: 5%;
}

.modal-text-closed {
  display: none;
}

.modal-text-open {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 999;
  position: absolute;
  font-family: "Rubik";
}
.modal-text-open:hover {
  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,w_120/v1609018415/Cherry/Chi/Website-Asset_X_1_ltkmzn.png),
    auto;
}
@media screen and (max-width: 5999px) and (min-width: 4000px) {
  .carousel .control-dots .dot {
    margin: 0.8% 0.15%;
    /* margin: calc(0.05% + 0.5vw) calc(0.5px + 0.08vw); */
    /* width: 1em;
    height: 1em; */
  }
}
@media screen and (max-width: 3999px) and (min-width: 3000px) {
  .carousel .control-dots .dot {
    margin: 0.7% 0.15%;
    /* margin: calc(0.05% + 0.5vw) calc(0.5px + 0.08vw); */
    /* width: 0.7em;
    height: 0.7em; */
  }
}

@media screen and (max-width: 2999px) and (min-width: 2000px) {
  .carousel .control-dots .dot {
    margin: 0.5% 0.15%;
    /* margin: calc(0.05% + 0.5vw) calc(0.5px + 0.08vw); */
    /* width: 0.5em;
    height: 0.5em; */
  }
}

/* 

@media screen and (max-width: 3999px) and (min-width: 2500px) {
  .carousel .control-dots .dot {
    margin: calc(0.5% + 0.5vw) calc(0.5px + 0.07vw);
  }
}

@media screen and (max-width: 2499px) and (min-width: 2000px) {
  .carousel .control-dots .dot {
    margin: calc(0.05% + 0.5vw) calc(0.5px + 0.08vw);
  }
}
@media screen and (max-width: 1999px) and (min-width: 1700px) {
  .carousel .control-dots .dot {
    margin: calc(0.05% + 0.5vw) calc(0.5px + 0.07vw);
  }
}

@media screen and (max-width: 1699px) and (min-width: 1300px) {
  .carousel .control-dots .dot {
    margin: calc(0.05% + 0.5vw) calc(0.5px + 0.07vw);
  }
} */
@media (max-width: 2000px) {
  .carousel .control-dots .dot {
    /* margin: -0% calc(1px + 0.15vw);
    width: 6px;
    height: 6px; */
    /* width: calc(1px + 0.4vw);
    height: calc(1px + 0.4vw); */
  }
}

@media (max-width: 770px) {
  .carousel .control-dots .dot {
    /* margin: calc(0.05% + 0.5vw) 1.5px; */
    width: calc(0.1px + 0.5vw);
    height: auto;
    /* height: calc(0.1px + 0.5vw); */
  }

  .carousel-container {
    contain: content;
  }
  .arrow-up-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0%;
  }
  .arrow-up {
    height: 25vh;
    width: 40%;

    z-index: 99;
  }
  .arrow-up:hover {
    cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,w_120/a_180/v1609018415/Cherry/Chi/Website-Asset_DownArrow_crqris.png),
      auto;
  }

  .arrow-down-container {
    height: 30vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 998;
  }
  .arrow-down-container:hover {
    cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,w_120/v1609018415/Cherry/Chi/Website-Asset_DownArrow_crqris.png),
      auto;
  }

  .car-img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  .clickable:hover {
    cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,w_120/v1609278617/Cherry/Chi/Website-Asset_Plus_xcwsg1.png),
      auto;
  }

  .carousel.carousel-slider .control-arrow {
    top: 0;
    color: #fff;
    font-size: 100px;
    bottom: 0;
    margin-top: 0;
    padding: 1%;
  }
  .carousel .control-arrow,
  .carousel.carousel-slider .control-arrow {
    transition: all 0.25s ease-in;
    opacity: 0.01;
    filter: alpha(opacity=40);
    position: absolute;
    top: 20px;
    background: none;
    border: 0;
    font-size: 0px;
  }

  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    margin: 0 5px;
    display: inline-block;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
  }
  .carousel .control-prev.control-arrow {
    left: 0;
    cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,w_120/a_90/v1609018415/Cherry/Chi/Website-Asset_DownArrow_crqris.png),
      auto;
  }
  .carousel .control-next.control-arrow {
    cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,w_120/a_270/v1609018415/Cherry/Chi/Website-Asset_DownArrow_crqris.png),
      auto;
  }

  .modalClosed {
    display: none;
  }
  /* .modalOpen {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 999;
    opacity: 0.8;
  } */

  .modal-text-closed {
    display: none;
  }

  .modal-text-open {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    font-family: "degular";
  }
  .modal-text-open:hover {
    cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,w_120/v1609018415/Cherry/Chi/Website-Asset_X_1_ltkmzn.png),
      auto;
  }
  /* .modalOpen {
    position: relative;
    display: flex;
    height: 85vh;
    width: 90vw;
    background-color: black;
    z-index: 999;
    opacity: 1;
    top: 100vh;
    right: 5%;
  } */
}

/* @media (min-width: 1500px) {
  .carousel .control-dots .dot {
    margin: 1% calc(0.01px + 0.25vw);
    width: calc(0.5px + 0.5vw);
    height: calc(0.5px + 0.5vw);
  }
}

@media (max-width: 770px) {
  .carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 25px 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 5px 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
} */
