.project-container {
  width: 100vw;
  height: 100vh;
}
.img-container {
  width: 100vw;
  height: 100vh;
}
.proj-img {
  width: 100%;
  height: 100%;
  margin-bottom: -5px;
  object-fit: cover;
}
.arrow-up-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0%;
}
.arrow-up {
  height: 25vh;
  width: 40%;
  /* background-color: red; */

  z-index: 99;
}
.arrow-up:hover {
  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,w_80/a_180/v1609018415/Cherry/Chi/Website-Asset_DownArrow_crqris.png),
    auto;
}

.arrow-down-container {
  height: 30vh;
  width: 100%;
  position: absolute;
  top: 35%;
  z-index: 998;
  /* background-color: red; */
}
.arrow-down-container:hover {
  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,w_80/v1609018415/Cherry/Chi/Website-Asset_DownArrow_crqris.png),
    auto;
}
