.menu-btn-about__burger {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: transform 0.5s ease-in-out;

  width: 37px;
  height: 3px;
}
.menu-btn-about__burger:hover {
  cursor: pointer;
}
.menu-btn-about__burger::before,
.menu-btn-about__burger::after {
  background: #fff;
  content: "";
  position: absolute;
  /* width: 30px;
  height: 1.5px; */
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: transform 0.5s ease-in-out;
  width: 37px;
  height: 3px;
}
.menu-btn-about__burger::before {
  /* transform: translateY(-10px); */
  transform: translateY(-10px);
  transform: rotate(-45deg);
}
.menu-btn-about__burger::after {
  /* transform: translateY(10px); */
  transform: translateY(10px);
  transform: rotate(45deg);
}

@media (min-width: 4500px) {
  .menu-btn-about__burger {
    width: 100px;
    height: 7px;
  }

  .menu-btn-about__burger::before,
  .menu-btn-about__burger::after {
    width: 100px;
    height: 7px;
  }
  .menu-btn-about__burger::before {
    transform: translateY(-27px);
    transform: rotate(-45deg);
  }
  .menu-btn-about__burger::after {
    transform: translateY(27px);
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 4499px) and (min-width: 4000px) {
  .menu-btn-about__burger {
    width: 90px;
    height: 6.5px;
  }

  .menu-btn-about__burger::before,
  .menu-btn-about__burger::after {
    width: 90px;
    height: 6.5px;
  }
  .menu-btn-about__burger::before {
    transform: translateY(-23px);
    transform: rotate(-45deg);
  }
  .menu-btn-about__burger::after {
    transform: translateY(23px);
    transform: rotate(45deg);
  }
}
@media screen and (max-width: 3999px) and (min-width: 3000px) {
  .menu-btn-about__burger {
    width: 70px;
    height: 5px;
  }

  .menu-btn-about__burger::before,
  .menu-btn-about__burger::after {
    width: 70px;
    height: 5px;
  }
  .menu-btn-about__burger::before {
    transform: translateY(-17px);
    transform: rotate(-45deg);
  }
  .menu-btn-about__burger::after {
    transform: translateY(17px);
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 2999px) and (min-width: 2000px) {
  .menu-btn-about__burger {
    width: 50px;
    height: 4px;
  }

  .menu-btn-about__burger::before,
  .menu-btn-about__burger::after {
    width: 50px;
    height: 4px;
  }
  .menu-btn-about__burger::before {
    transform: translateY(-12px);
    transform: rotate(-45deg);
  }
  .menu-btn-about__burger::after {
    transform: translateY(12px);
    transform: rotate(45deg);
  }
}
