.list-container {
  width: 100vw;
  display: flex;
}
.container-split {
  display: flex;
  width: 100%;

  background-color: indigo;
}
.list-left {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  align-content: start;
  width: 70%;
  justify-content: center;
  justify-content: space-around;
  background-color: blue;
}
.list-right {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  width: 30%;
  justify-content: center;
  justify-content: space-around;
  background-color: gray;
}

.masonry-img {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
  /* background-color: green; */
  /* justify-content: center; */
}

.masonry-brick-img {
  flex: auto;
  height: 500px;
  min-width: 200px;
  /* max-width: 800px; */
  margin: 0 8px 8px 0; /* Some gutter */
  /* background-size: 100% 100%; */
  background-size: cover;
  background-position: 50% 50%;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.masonry-brick-img-full {
  flex: auto;
  height: 500px;
  width: 100%;
  /* max-width: 800px; */
  margin: 0 8px 8px 0; /* Some gutter */
  /* background-size: 100% 100%; */
  background-size: cover;
  background-position: 50% 50%;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.masonry-brick-img-wide {
  flex: auto;
  height: 500px;
  min-width: 800px;
  /* max-width: 800px; */
  margin: 0 8px 8px 0; /* Some gutter */
  /* background-size: 100% 100%; */
  background-size: cover;
  background-position: 50% 50%;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.masonry-brick-img-sm {
  flex: auto;
  height: 500px;
  width: 400px;
  /* max-width: 800px; */
  margin: 0 8px 8px 0; /* Some gutter */
  /* background-size: 100% 100%; */
  background-size: cover;
  background-position: 50% 50%;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.project-full-width {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /* background-color: blue; */
}

.project-left-small {
  flex: auto;
  flex-wrap: wrap;
  height: 300px;
  width: 300px;
  background-color: red;
  margin: 0 8px 8px 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.project-left-large {
  flex: auto;
  height: 600px;
  width: 600px;
  background-color: green;
  margin: 0 8px 8px 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.project-right-small {
  flex: auto;
  height: 300px;
  width: 300px;
  background-color: orange;
  margin: 0 8px 8px 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.project-right-tall {
  flex: auto;
  height: 600px;
  width: 300px;
  background-color: pink;
  margin: 0 8px 8px 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
