.new-scrollsnap-container {
  /* height: 100vh; */
  background-color: black;
}

.new-header-container {
  position: sticky;
  top: 0;
  width: 100vw;
}

.sticky-section {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
}
