.new-scrollsnap-container {
  height: 1200vh;
  background-color: black;
}

.new-header-container {
  position: sticky;
  top: 0;
  width: 100vw;
}

.sticky-section {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 200vh;
}
.sticky-section-last {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
}
