.back-arrow-proj-name {
  height: 50px;
  cursor: pointer;
}
.holder {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.img-div {
  height: 100vh;
  width: 100vw;
}
.centering {
  /* height: 100vh; */
  position: relative;
  display: flex;
  top: 0vh;
  justify-content: center;
}
.img-center {
  height: 100vh;
  object-fit: cover;
  /* width: 100vw; */
}

@media (min-width: 4000px) {
  .img-center {
    height: 100%;
    position: relative;
    top: 10%;
  }
  .holder {
    align-items: center;
  }
}

@media (max-width: 771px) {
  .holder {
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .img-div {
    height: 100vh;
    width: 100vw;
  }
  .centering {
    /* height: 100vh; */
    position: relative;
    display: flex;
    top: 0vh;
    justify-content: center;
  }
  .img-center {
    height: 100vh;
    object-fit: contain;
    /* width: 100vw; */
  }
}
