.back-arrow-proj-name {
  height: 50px;
  cursor: pointer;
}
.holder {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.img-div {
  height: 100vh;
  width: 100vw;
}
.centering {
  /* height: 100vh; */
  position: relative;
  display: flex;
  top: 0vh;
  justify-content: center;
}
.img-center {
  height: 100vh;
  object-fit: cover;
  /* width: 100vw; */
}

.proj-info-container-projname {
  position: relative;
  z-index: 999;
  bottom: 10vh;
  left: 2vw;
}
.proj-info-text-projname {
  color: white;
  font-family: "rubik";
  font-size: 1.5vw;
}
.proj-info-text-projname:hover {
  cursor: pointer;
}

.projname-proj-x {
  position: absolute;
  top: 4vh;
  right: 1.5vw;
  z-index: 998;
  /* background-color: black;
  opacity: 0.5; */
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalOpen-projname {
  position: absolute;
  display: flex;
  height: 96vh;
  width: 96vw;
  background-color: black;
  z-index: 999;
  opacity: 1;
  top: 3vh;
  right: 2vw;
}
.hide {
  display: none;
}

@media (min-width: 3200px) {
  .img-center {
    /* height: 100%;
    position: relative;
    top: 10%; */
    object-fit: cover;
    height: auto;
  }
  .holder {
    align-items: center;
  }
  .modalOpen-projname {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 96vw;
    background-color: black;
    z-index: 999;
    opacity: 1;
    top: -10vh;
    right: 2vw;
  }
}

@media (max-width: 771px) {
  .holder {
    text-align: center;
    max-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* position: relative;
    top: -100px; */
  }
  .img-div {
    height: 100vh;
    width: 100vw;
  }
  .centering {
    /* max-height: 100vh; */
    position: relative;
    display: flex;
    top: 0vh;
    justify-content: center;
  }
  .img-center {
    height: 90vh;
    object-fit: contain;
    /* width: 100vw; */
  }
}
