.footer-container {
  width: 100%;
  text-align: -webkit-center;
  /* position: fixed;
  bottom: 0; */
  margin-top: 5%;
}
.footer-text-container {
  width: 20vw;
  display: flex;
  justify-content: space-around;
}

.footer-text {
  color: white;
  font-family: "rubik";
  font-weight: 900;
  letter-spacing: 1px;
  text-decoration: underline;
  /* font-size: calc(1px + 0.75vw); */
  font-size: 1vw;
}
/* .footer-text-or {
  color: white;
  font-family: "rubik";
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 0.7vw;
} */
.footer-text:hover {
  cursor: pointer;
}
.footer-text-or {
  color: white;
  font-family: "rubik";
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1vw;
}

@media (max-width: 1100px) {
  .footer-text {
    color: white;
    font-family: "rubik";
    font-weight: 900;
    letter-spacing: 1px;
    font-size: calc(3px + 0.5vw);
  }
}

@media (max-width: 771px) {
  .footer-text {
    color: white;
    font-family: "rubik";
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 3vw;
  }
  .footer-text {
    font-size: 5vw;
    margin-top: -6px;
  }
  .footer-text-container {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
  }
  .footer-container {
    width: 100%;
    text-align: left;
    margin-top: 5%;
    padding-left: 10%;
  }
  .footer-text-or {
    display: none;
  }
}
