@import url("https://use.typekit.net/qnu7szh.css");

.upper-case-proj-name {
  text-transform: uppercase;
}
.modal-container-proj-name {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.modal-container-proj-name:hover {
  cursor: pointer;
}
.clickable-modal-proj-name:hover {
  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,h_100,w_100/v1611017757/Cherry/Cherry%20Clients/Graphic%20Assets/XCursor_z9pn2t.png),
    auto;
}
.modal-text-proj-name {
  color: white;
}
.modal-project-text-container-proj-name {
  position: relative;
  /* top: 25%; */
  /* padding-left: 10%; */
  /* padding-right: 10%; */
  right: 5vw;
  width: 100%;
}
/* .bold-container {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
  left: 50px;
} */
.bold-text-proj-name {
  font-family: "Rubik";
  font-weight: 900;
  color: white;
  font-size: calc(5px + 0.5vw);
  align-self: flex-end;
  margin-bottom: 1%;
}

/* .show-name-modal-proj-name {
  font-size: 3vw;
  color: white;
  font-family: "Rubik";
  font-weight: 900;
  position: relative;
  right: 13%;
} */
.show-name-modal-proj-name {
  font-size: 2vw;
  color: white;
  font-family: "Rubik";
  font-weight: 900;
  position: absolute;
  left: 29.9vw;
  top: -23%;
}
.challenge-proj-name {
  margin-top: 20px;
}

.client-name-proj-name {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 1.2vw;
  position: absolute;
  left: 30%;
  top: -12%;
}

.description-text-container-proj-name {
  /* margin-top: -10px; */
  width: 50%;
  position: relative;
  left: 30%;
}

.description-text-proj-name {
  color: white;
  font-size: 1vw;
  font-family: "Rubik";
  font-weight: 400;
  position: relative;
  text-align: left;
  width: 80%;
}
.bold-text-what-we-did {
  color: white;
  font-family: "rubik";
  font-weight: 900;
  font-size: 1.2vw;
}
.what-we-did-holder {
  position: relative;
  top: 3vh;
  right: 16vw;
}
.what-did-container-proj-name {
  /* margin-top: 10%; */
  display: flex;
  justify-content: center;
  /* width: 20%; */
  /* height: 200px; */
  /* background-color: red; */
  position: relative;
  right: 7.5vw;
  margin-top: 3%;
}
.what-did-container-proj-name:hover {
  cursor: pointer;
}
.what-did-proj-name-left {
  position: relative;
  right: 5vw;
  text-align: left;
}
.what-did-proj-name-right {
  position: relative;
  left: 5vw;
  text-align: left;
}

.project-keywords-proj-name {
  font-size: 1vw;
  font-family: "Rubik";
  font-weight: 400;
  text-decoration: underline;
  margin-top: 0.2%;
  margin-bottom: 4%;
  color: grey;
}
.project-keywords-proj-name:hover {
  cursor: pointer;
  color: white;
}

/* FOR SAFARI */
@media (min-width: 1000px) {
  @media not all and (min-resolution: 0.001dpcm) {
    @media {
      .show-name-modal-proj-name {
        /* right: 12.7vw; */
        /* padding-right: 26%; */
      }
      /* .show-name-modal-proj-name {
        font-size: 3vw;
        color: white;
        font-family: "Rubik";
        font-weight: 900;
        position: absolute;
        top: -13vh;
        left: 29.6vw;
      } */
      /* .what-did-container-proj-name {
        margin-top: 3%;
      }
      .project-keywords-proj-name {
        font-size: 1.2vw;
        font-family: "Rubik";
        font-weight: 400;
        text-decoration: underline;
        margin-top: 0.2%;
        margin-bottom: 6%;
        color: grey;
      }
      .client-name-proj-name {
        font-family: "Rubik";
        font-weight: 400;
        font-size: 1.5vw;
        position: relative;
        right: 16.3vw;
        margin-top: -2.5%;
      } */
    }
  }
}
@media (max-width: 771px) {
  .modal-container-proj-name {
    top: 8%;
  }
  .show-name-modal-proj-name {
    font-size: 5vw;
    color: white;
    font-family: "Rubik";
    font-weight: 900;
    position: absolute;
    right: 50vw;
    top: -25%;
  }
  .client-name-proj-name {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 3vw;
    position: absolute;
    left: 30%;
    top: -15%;
  }
  .description-text-proj-name {
    color: white;
    font-size: 2.6vw;
    font-family: "Rubik";
    font-weight: 400;
    position: relative;
    text-align: left;
    width: 100%;
    margin: 0;
  }
  .what-we-did-holder {
    position: relative;
    top: 2vh;
    right: 10.5vw;
  }
  .bold-text-what-we-did {
    color: white;
    font-family: "rubik";
    font-weight: 900;
    font-size: 3vw;
  }
  .what-did-container-proj-name {
    display: flex;
    justify-content: center;
    position: relative;
    right: -3.5vw;
    top: 3vh;
  }
  .project-keywords-proj-name {
    font-size: 2.5vw;
    font-family: "Rubik";
    font-weight: 400;
    text-decoration: underline;
    margin-top: 0.2%;
    margin-bottom: 6%;
    color: grey;
  }
  .projname-proj-x {
    position: absolute;
    top: 2vh;
    right: 4vw;
    z-index: 998;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 765px) {
  .modal-container-proj-name {
    top: 8%;
  }
  .show-name-modal-proj-name {
    font-size: 5vw;
    color: white;
    font-family: "Rubik";
    font-weight: 900;
    position: absolute;
    right: 50vw;
    top: -25%;
  }
  .client-name-proj-name {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 3vw;
    position: absolute;
    left: 30%;
    top: -17%;
  }
  .description-text-proj-name {
    color: white;
    font-size: 2.6vw;
    font-family: "Rubik";
    font-weight: 400;
    position: relative;
    text-align: left;
    width: 100%;
    margin: 0;
  }
  .what-we-did-holder {
    position: relative;
    top: 2vh;
    right: 10.5vw;
  }
  .bold-text-what-we-did {
    color: white;
    font-family: "rubik";
    font-weight: 900;
    font-size: 3vw;
  }
  .what-did-container-proj-name {
    display: flex;
    justify-content: center;
    position: relative;
    right: -7vw;
    top: 3vh;
  }
  .project-keywords-proj-name {
    font-size: 3vw;
    font-family: "Rubik";
    font-weight: 400;
    text-decoration: underline;
    margin-top: 0.2%;
    margin-bottom: 6%;
    color: grey;
  }
}

@media (max-width: 750px) {
  /* .projname-proj-x {
    position: absolute;
    top: 2vh;
    right: 5vw;
    z-index: 998;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bold-text-proj-name {
    font-size: 10px;
  }
  .client-name-proj-name {
    font-size: 10px;
    margin-top: 0px;
    top: -1vh;
    right: 19vw;
  }
  .description-text-proj-name {
    color: white;
    font-size: 13px;
    font-family: "Rubik";
    font-weight: 400;
    position: relative;
    text-align: left;
    width: 100%;
    line-height: 1.4;
  }
  .project-keywords-proj-name {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .show-name-modal-proj-name {
    font-size: 18px;
    color: white;
    font-family: "Rubik";
    font-weight: 900;
    position: relative;
    top: 1vh;
    right: 14.5vw;
  }
  .description-text-container-proj-name {
    width: 60%;
    position: relative;
    left: 25%;
  }
  .modal-project-text-container-proj-name {
    position: relative;
    width: 100%;
    top: -20px;
  }
  .what-we-did-holder {
    position: relative;
    top: 1vh;
    right: 17vw;
  }
  .bold-text-what-we-did {
    color: white;
    font-family: "rubik";
    font-weight: 900;
    font-size: 2.5vw;
  }
  .what-did-container-proj-name {
    display: flex;
    justify-content: center;
    position: relative;
    left: 3.5vw;
    margin-top: 3%;
  } */
}

@media (max-width: 400px) {
  /* .bold-text-proj-name {
    font-size: 10px;
  }
  .client-name-proj-name {
    font-size: 10px;
    margin-top: 0px;
    top: -1vh;
    right: 18.5vw;
  }
  .description-text-proj-name {
    color: white;
    font-size: 12px;
    font-family: "Rubik";
    font-weight: 400;
    position: relative;
    text-align: left;
    width: 100%;
    line-height: 1.4;
  }
  .project-keywords-proj-name {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .show-name-modal-proj-name {
    font-size: 18px;
    color: white;
    font-family: "Rubik";
    font-weight: 900;
    position: relative;
    top: 1vh;
    right: 13.5vw;
  }
  .description-text-container-proj-name {
    width: 60%;
    position: relative;
    left: 25%;
  }
  .modal-project-text-container-proj-name {
    position: relative;
    width: 100%;
    top: 4vh;
  }
  .what-we-did-holder {
    position: relative;
    top: 1vh;
    right: 17vw;
  }
  .bold-text-what-we-did {
    color: white;
    font-family: "rubik";
    font-weight: 900;
    font-size: 2.5vw;
  }
  .what-did-container-proj-name {
    display: flex;
    justify-content: center;
    position: relative;
    left: 5.5vw;
    margin-top: 3%;
  } */
}
@media (max-width: 321px) {
  /* .bold-text-proj-name {
    font-size: 10px;
  }
  .client-name-proj-name {
    font-size: 10px;
    margin-top: 0px;
    top: -1vh;
    right: 17vw;
  }

  .project-keywords-proj-name {
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .show-name-modal-proj-name {
    font-size: 18px;
    color: white;
    font-family: "Rubik";
    font-weight: 900;
    position: relative;
    top: 1vh;
    right: 11.3vw;
  }
  .description-text-container-proj-name {
    width: 60%;
    position: relative;
    left: 25%;
  }
  .description-text-proj-name {
    color: white;
    font-size: 11px;
    font-family: "Rubik";
    font-weight: 400;
    position: relative;
    text-align: left;
    width: 100%;
    line-height: 1.4;
  }
  .modal-project-text-container-proj-name {
    position: relative;
    width: 100%;
    top: 4vh;
  }
  .what-we-did-holder {
    position: relative;
    top: 1vh;
    right: 17vw;
  }
  .bold-text-what-we-did {
    color: white;
    font-family: "rubik";
    font-weight: 900;
    font-size: 2.5vw;
  }
  .what-did-container-proj-name {
    display: flex;
    justify-content: center;
    position: relative;
    left: 5.5vw;
    margin-top: 3%;
  } */
}

/* @media (min-width: 3000px) {
  .modal-project-text-container {
    position: relative;
    top: 20%;
    padding-left: 10%;
    padding-right: 10%;
    left: 20%;
    max-width: 850px;
  }
  .bold-text {
    font-size: 18pt;
  }
}

@media screen and (max-width: 3000px) and (min-width: 2500px) {
  .modal-project-text-container {
    position: relative;
    top: 20%;
    padding-left: 10%;
    padding-right: 10%;
    left: 20%;
    max-width: 850px;
  }
  .bold-text {
    font-size: 18pt;
  }
}

@media screen and (max-width: 2499px) and (min-width: 1500px) {
  .modal-project-text-container {
    position: relative;
    top: 20%;
    padding-left: 10%;
    padding-right: 10%;
    left: 20%;
    max-width: 850px;
  }
}

@media (max-width: 1500px) {
  .bold-text {
    font-size: 18pt;
  }
  .client-name {
    font-size: calc(20px + 0.5vw);
  }
  .description-text {
    top: 0px;
    font-size: calc(15px + 1vw);
  }
  .project-keywords {
    font-size: calc(20px + 0.5vw);
  }
}
@media (max-width: 1000px) {
  .bold-text {
    font-size: calc(10px + 0.5vw);
  }
  .client-name {
    font-size: calc(23px + 0.5vw);
  }
  .description-text {
    font-size: calc(15px + 0.5vw);
  }
  .project-keywords {
    font-size: calc(20px + 0.5vw);
  }
}

@media (max-width: 640px) {
  .modal-project-text-container {
    top: 20%;
  }
  .bold-text {
    font-size: calc(12px + 0.5vw);
  }
  .client-name {
    font-size: calc(16px + 0.5vw);
    margin-top: -13px;
  }
  .description-text {
    font-size: calc(10px + 0.5vw);
    top: 10px;
  }
  .project-keywords {
    font-size: calc(15px + 0.5vw);
    margin-top: -5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 430px) {
}

@media (max-width: 350px) {
} */
