.header-container {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header-text-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 30px;
}
.header-text {
  color: white;
}
.header-hamburger-container {
  position: absolute;
  right: 0%;
  z-index: 998;
}
.hamburger-header {
  height: 100px;
}
.logo-container {
  width: 100vw;
  display: flex;
}
.logo {
  width: 100vw;
}

.down-arrow-container {
  position: absolute;
  top: 95vh;
  transform: translateY(-100%);
  width: 100%;
  text-align: center;
}
.down-arrow {
  height: 80px;
}
.hamburger-closed {
  display: none;
}
.hamburger-opened {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: black;
  top: 10px;
  z-index: 999;
}

.hamburger-x-container {
  position: relative;
  right: -95%;
  top: 5%;
}
.hamburger-x {
  height: 50px;
}

.hamburger-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hamburger-open-text {
  color: white;
  font-size: 30px;
  width: 100%;
  text-align: center;
}
.hamburger-open-text:hover {
  color: white;
  font-size: 30px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}
