.mobile-highlighted-proj-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.highlight-proj-cell-x {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 998;
  /* background-color: black;
  opacity: 0.5; */
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
