@import url("https://use.typekit.net/qnu7szh.css");

.new-header-container {
  height: 100vh;
  width: 100vw;
  background-color: black;

  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite; */

  cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,h_100,w_100/v1611016884/CursorDown.png),
    auto;
}

.new-header-container-cell {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: sticky;
  top: 0;
  width: 100vw;
}

.airtable-header-text {
  color: white;
  text-align: center;
  position: relative;
  /* top: 110px; */
  top: 15%;
  font-family: "Rubik";
  font-weight: 300;
  font-size: calc(7px + 0.5vw);
}
.airtable-header-text-underlined {
  text-decoration: underline;
  font-family: "Rubik";
  font-weight: 300;
  font-size: calc(7px + 0.5vw);
}
.airtable-header-text-underlined:hover {
  cursor: pointer;
}

.fade-out-onLoad {
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: absolute;
}

.fade-out {
  display: none;
  animation-duration: 2s;
}

.new-header-logo-container {
  position: relative;
  left: 6%;
  top: 1%;
}

.vid-logo-container {
  width: 100vw;
  position: absolute;
  top: 37%;
}
.vid-about {
  width: 94vw;
  position: absolute;
  top: 0px;
  left: 3.5%;
}

.vid-about-mobile {
  width: 94vw;
  height: 40vh;
  position: absolute;
  top: 0px;
  left: 3.5%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.about-logo {
  position: absolute;
  width: 95vw;
  /* top: -20px; */
  left: 3%;
}

.new-header-logo {
  height: 4vw;
  /* height: calc(50px + 4vw); */
}
.new-header-logo-clicked {
  height: 5vw;
  /* height: calc(70px + 4vw); */
  /* opacity: 0; */
  transition-duration: 1000ms;
}
.new-header-text-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-header-text {
  color: white;
  font-family: "Rubik";
  font-weight: 300;
  padding-left: 5%;
  padding-right: 10%;
  /* 
  
  padding-bottom: 5%; */
  font-size: 4vw;
}
.hi-email {
  text-decoration: underline;
}
.hi-email:hover {
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* CELLL */
.cell-down-arrow-container {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.cell-down-arrow {
  height: 250px;
  width: 50px;
}

@media screen and (max-width: 5999px) and (min-width: 2500px) {
  /* .airtable-header-text {
    font-size: calc(10px + 1vw);
  }
  .airtable-header-text-underlined {
    font-size: calc(10px + 1vw);
  } */
}

@media screen and (max-width: 2499px) and (min-width: 1000px) {
  /* .airtable-header-text {
    font-size: calc(10px + 0.8vw);
  }
  .airtable-header-text-underlined {
    font-size: calc(10px + 0.8vw);
  } */
}

/* @media (max-width: 770px) {
  .new-header-text {
    color: white;
    font-family: "degular";
    align-self: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 7.5vw;
  }
}

@media (max-width: 600px) {
  .airtable-header-text,
  .airtable-header-text-underlined {
    font-size: 12px;
    top: 40px;
  }
}

@media (max-width: 414px) {
  .cell-down-arrow-container {
    bottom: 30px;
  }
  .new-header-text-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 100px;
  }
}
@media (max-width: 412px) {
  
} */
